
body {
	background: #e65c00;
	margin:auto;
	text-align: center;
	font-family: Georgia, serif
}

h1 {
	color: #ffffcc;
}

h3 {color: #ffd480;}

img {
	height: 200px;
 	width: auto;
	border-radius: 60%
}

p {
	color: #ffffcc;
	font-size: large;
}